# Folder 
deskripsi/
.raw/

# Python / Jupyter
__pycache__/
*.py[cod]
*.class
.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Hanya tampilkan laporan.pdf 
report/*
!report/laporan.pdf
