# ==================================================
# Python & Jupyter
# ==================================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
.ipynb_checkpoints/
*-checkpoint.ipynb

# ==================================================
# LaTeX Output & Temporary Files
# ==================================================
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
report/*.aux
report/*.bbl
report/*.blg
report/*.log
report/*.out
report/*.toc
report/*.synctex.gz
report/*.fls
report/*.fdb_latexmk

# ==================================================
# OS Specific Files
# ==================================================
.DS_Store
Thumbs.db
desktop.ini
